*{
    margin:0px;
    padding:0px;
}

body{
    diplay:flex;
    width: 100%;
    background-image: url('/images/karan/8726.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    
}




header{
    width: 1200px;
    height: 75px;
    margin-left: 20px;


}
.icon{
    float:left;
    height: 70px;

}
.logo{
    color:  #0a0c0c;;
    font-size: 45px;
    font-family: cursive;
    padding-left: 20px;
    float: left;
    padding-top: 5px;
    margin-top: 5px;
}

ul {
     float: left;
     display: flex;
    justify-content: center;
    align-items: center;
    
  
}

ul li{
    list-style: none;
    margin-left: 70px;
    margin-top: 27px;
    font-size: 20px;
    padding-left: 30px;
}
    
ul li a{
    text-decoration: none;
    color: rgb(10, 10, 10);
    font-weight: bold;
    cursor: pointer;
}
.hero{
    
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    font-family: cursive;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}
.hero h1{
    color: rgb(6, 7, 7);
}

.Sechero{
    border: 3px solid rgb(27, 25, 25);
    height: 5vh;
    width: 26%;
    margin-left: 38%;
    margin-top: 12px;
    background-color: aquamarine;
    font-size: 20px;

}
.Sechero p{
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    padding-top: 8px
    
}
.imgHero{
    display: flex;
    gap:1px;
    height: 500px;
    padding-top: 20px;
    object-fit: cover;

   
   
}
